.corpo{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(29, 48, 81);
    
}

.header_container{
   background-image: url(img/imagem1.jpg); 
   height: 500px;
   background-size:cover;
   background-position: right center;
   padding-top: 1px;
   width: 100%;
   margin: 20px 50px 0 0;
  
}

.lista_container{
    text-align:right;
    margin: 20px 50px 0 0;
    
}

.lista_lista{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    border: solid 3px white;
    margin-left: 20px;
}
    

.lista_lista_a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
    background-color: rgba(125, 119, 119, 0.533);
    padding: 10px 21px;
    
}
.lista_lista_a:hover{
    background-color: rgba(31, 28, 28, 0.8);
    
}
.tituloprincipal_container{
  text-align: center;
  width: 80%;
  margin:50px auto 0 ;
}
.tituloprincipal{
    color: antiquewhite;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    text-transform:uppercase ;
    margin-bottom: 2px;

}
.paragrafoprincipal{
    color: antiquewhite;
    background-color:rgba(41, 39, 39, 0.647);
    display: inline-block;
    padding: 16px;
    border-bottom: solid 3px white;
    margin-top: 50px;
    font-size: 25px;
}


.caixastexto a{
   color: blue;
  
}
.mainclass{
    width: 70%;
    margin: auto;
    max-width: 10000px;

}
.divclass{
    padding-top: 30px;
    
}


.articleclass{
    background-color: #f9fafa;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    
    
}
.tituloclass{
    background-color: rgb(228, 233, 230);
    display: inline-block;
    padding: 10px;
    margin-top: 0px;
    margin-left: 5px;
    width: 96%;
    border-bottom: 3px solid rgb(206, 209, 207);
    text-transform:uppercase ;
}
.subtituloclass{
    margin: 7px;
    font-size: 18px;
    text-align: justify;
}
.linkclass {
    background-color: rgba(166, 166, 162, 0.582);
    display: block;
    padding: 10px;
    margin-left: 7px;
    color: blue;
    text-transform: uppercase;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
} 
.foot{
    background-color: #6b6c6851;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
}